        
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient(50deg, #020887, #e74c3c);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linha{
    display: flex;
}

.calculadora {
    background-color: #334195;
    width: 150px;
    border-radius: 5px;
    box-shadow: white 100%;
    padding: 7px;
}

button{
    width: 35px;
    height: 35px;
    border: none ;
    margin: 3px;
    border-radius: 8px;
    background-color: lightcyan;
}
.operador{
    background-color: #00f8c6;
}

button:hover{
    background-color: rgb(108, 212, 231);
}

.operador:hover{

    background-color: aquamarine;
}

.igual{
    background-color: lightskyblue;
}
.igual:hover{
    background-color: blue;
}
.decimal{
    background-color: lightskyblue;

}

.display{
    background-color: white;
    display: flex;
    height: 35px;
    justify-content: end;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5px;
    padding-right: 5px;
}

button:active{
    transform: translateY(3px);
}

